.drawerContainer {
    /* z-index: 1000; */
 
    position: fixed;
    right: -100%; /* Drawer starts off-screen to the right */
    width: 45%;
    height: 100%;
    background-color: black;
    transition: right 0.3s ease-in-out;
    top: 55px;
  }
  
  .drawerContainer_open{
    z-index: 1000;
    position: fixed;
    right: 0; /* Drawer starts off-screen to the right */
    width: 45%;
    height: 100%;
    background-color:  black;
    transition: right 0.2s ease-in-out;
    top: 55px;

  }
  .back{
    z-index: 998;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(189, 189, 189,0.5);
    
}

  /* ====================================   drawer css ended and drawer  contetent css started=========================== */
  
  .drawerContent {
    padding: 16px;
  }


  .linkTag{
    /* font-size: 10px; */
    text-decoration: none; 
    color: white;
}

.linkTag:hover{
    text-decoration: none; 
    color: #007aff;
}

@media only screen and (min-width: 100px) and (max-width: 500px) {
  .drawerContainer {
    position: fixed;
    right: -100%; /* Drawer starts off-screen to the right */
    width: 45%;
    height: 100%;
    background-color: black;
    transition: right 0.3s ease-in-out;
    top: 45px;
  }

  .drawerContainer_open{
    z-index: 1000;
    position: fixed;
    right: 0; /* Drawer starts off-screen to the right */
    width: 45%;
    height: 100%;
    background-color:  black;
    transition: right 0.2s ease-in-out;
    top: 45px;

  }
}